<div class="short">
 <div class="guide">
   <p>EPISODE SHORT(エピソード 25話以下)</p>
 </div>

 <div class="anime">
  <% @animes.each do |t| %>
    <% if t.category == "short" %>  
      <div class="box">
       <%= link_to t.title, anime_path(t.id) %>
       <%= image_tag t.image_url, size: "285x180" if t.image? %>
      </div> 
    <% end %>
  <% end %>
 </div>
 <div class="link">
 <%= link_to "ホームに戻る", animes_path %>
 </div>
</div>


